doctype html
html(lang="en")
  include ../include/head

  body(style={'padding-top': '80px'})
    div.container-fluid
      div.page-header.text-center
        h1 Create your own player
      div.row-fluid
        div.col-sm-6.col-sm-offset-3
          form(action="/players", method="post")
            div.form-group.row
              label.col-sm-2.control-label(for="xi")
                | XI
              div.col-sm-10
                select#xi.form-control(type="number", name="player[xi]")
                  option 1
                  option 2
                  option 3
                  option 4
                  option 5
                  option 6
                  option 7

            div.form-group.row
              label.col-sm-2.control-label(for="firstname")
                | First name
              div.col-sm-10
                input#firstname.form-control(
                  type="text",
                  name="player[firstname]")

            div.form-group.row
              label.col-sm-2.control-label.col-sm-2.control-label(for="surname")
                | Surname
              div.col-sm-10
                input#surname.form-control(
                  type="text",
                  name="player[surname]")

            div.form-group.row
              label.col-sm-2.control-label(for="position")
                | Position
              div.col-sm-10
                select#position.form-control(
                  type="text",
                  name="player[position]")
                  option Goalkeeper
                  option Defender
                  option Midfielder
                  option Attacker

            div.form-group.row.text-center
              button.btn.btn-warning.btn-lg(type="submit")
                |  Submit

    include ../include/footer
